// @charset "utf-8"

$primary: hsl(45, 100%, 60%);
// $link: findColorInvert($primary)
$body-line-height: 1.7;

@import "~bulma";
@import "~@creativebulma/bulma-tooltip";
@import "~@creativebulma/bulma-divider";
@import "~react-toastify/scss/main";
@import "../../node_modules/react-loading-skeleton/dist/skeleton.css";
@import "./lds-grid.css";
@import "./lds-ellipsis.css";

// @import "../core/components/list/index"

.loading-container {
  height: 100vh;
}

.sidebar-layout {
  // border-right: solid 1px $grey-light
  height: 105vh;
  overflow-x: auto;
  z-index: 50;
}

html {
  overflow: hidden;
}

.content-layout {
  height: 100vh;
  padding: 30px;
  overflow: scroll;

  .block {
    height: 100%;
  }
}
.navbar-start input {
  width: 400px;
}

.question-tooltip {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 5px;
  top: 2px;
}

.question-tooltip::before {
  transition: 0.3s;
}

code .schema {
  display: block;
  white-space: pre-wrap;
}

.schema-box {
  max-width: 750px;
  margin: auto;
}

.add-read-model-box {
  max-width: 1000px;
  margin: auto;
}
